extends layout
block content
    .main-content
        h1 Create Item
        form(action="" method="post")
            .item-details-form
                .ipt-wrap
                    label(for="name-item") Name: 
                    input#name-item(name="name" type="text" placeholder="Grinder, African coffee beans, ..." required)
                .ipt-wrap
                    label(for="description-item") Description: 
                    textarea#description-item(name="description" cols="20" rows="10" placeholder="This product is very important because..." required)
                .ipt-wrap 
                    label(for="price-item")
                        p Price: 
                        input#price-item(type="number" name="price" placeholder="99.99" required)
                .ipt-wrap
                    label(for="stock")
                        p In Stock: 
                        input#stock(type="number" placeholder="0")
                .ipt-wrap
                    button#item-submit Submit
            label.item-image-container(for="img-item") 
                p Upload an image here (PNG/JPG)
                img(src="")
                input#img-item.img-input(type="file" name="image" accept="image/png, image/jpeg")
    script(src="/javascripts/displayImg.js") 
