body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
}

a {
  color: white;
  text-decoration: none;
}

/* Sidebar Menu */

aside {
  display: flex;
  flex-direction: column;
  position: relative;
  width: clamp(300px, 24rem, 380px);
  height: 100vh;
  background-color: rgb(8, 38, 58);
  color: white;
}

.side-wrapper {
  margin: 0 1.3rem;
  position: absolute;
  inset: 0;
}

.fixed {
  position: fixed;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.side-wrapper h1 {
  border-bottom: 1px solid #d4d4d4a9;
}

.side-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
}

.link {
  display: flex;
  gap: 1rem;
  padding: 6px 10px;
}

/* Links Icons*/

.link::before {
  content: "";
  display: inline-block;
  background-size: cover;
  filter: brightness(0) invert(1);
  width: 1rem;
  height: 1rem;
}

.link-items::before {
  background-image: url("/images/grid.png");
}

.link-categories::before {
  background-image: url("/images/category.png");
}

.link-newItem::before,
.link-newCategory::before {
  background-image: url("/images/add.png");
}

/* Icons Attribution */
.icons-attribution {
  margin-top: auto;
}

.icons-attribution a {
  color: yellow;
  font-size: 1rem;
}

/* Items List */

.items-list {
  margin: 2rem;
}

.row,
.row-left,
.row-right {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.row {
  margin-bottom: 25px;
  border-bottom: 3px solid #ddd;
}

img {
  width: 100px;
  height: auto;
}

/* Category List */

.category-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin: 2.4rem;
}

.category {
  border-radius: 8px;
  padding: 1rem;
  max-height: 300px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -moz-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* Item Form */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-bottom: 6rem;
  gap: 1.4rem;
}

.main-content form {
  display: flex;
  flex-direction: row;
  gap: 2.7rem;
}

.main-content h1 {
  font-size: 34px;
  font-weight: 400;
}

.ipt-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.8rem;
  gap: 0.6rem;
}

.ipt-wrap label {
  font-size: 1.215rem;
}

.ipt-wrap label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.215rem;
}

#price-item,
#stock {
  max-height: 25px;
}

.item-image-container {
  width: 500px;
  height: 500px;
  border: 2px dotted black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.7rem;
}

.item-image-container p {
  position: absolute;
  top: 40%;
  font-size: 2rem;
}

.item-image-container input {
  display: none;
}

.item-image-container img {
  flex: 1;
  object-fit: contain;
  width: 100%;
  z-index: 1;
}

#item-submit {
  padding: 5px;
  max-width: 120px;
}
